$bgCol: #0F0F0F;
$cardCol: #1A1A1A;
$cardStrokeCol: #292929;
$tagCol: #27272A;
$white: #e9e8e3;
$black: #000;
$inputFieldCol: #212121;

body{
  background-color: $bgCol;
  font-family: 'secondaryFont';
}
@font-face {
  font-family: 'primaryFont';
  src: url('../res/Primary2.otf') format('opentype')
}

@font-face {
  font-family: 'secondaryFont';
  src: url('../res/Secondary.ttf') format('truetype')
}

// Index.html style
.welcomeBox{

  .title{
    font-family: 'primaryFont';
    color: $white;    
    letter-spacing: -.05em !important;   
    font-weight: 300 !important;
  }
  .desc{
    font-family: 'secondaryFont';
    color: $white;
    opacity: 0.5;
  }
  .btn-white{
    background-color: $white;
    color: $black;
    border-radius: 12px;
    padding: 10px 20px;
    font-family: 'secondaryFont';
  }

}

//home.html style
.nav{
  font-family: 'primaryFont';
  color: $white;
}
.mainForm{
  background-color: $cardCol;
  height: 500px;
  color: $white;
  
  .inputField{
    background-color: $inputFieldCol;
    border: 1px solid $cardStrokeCol;
    outline: 0;
    color: $white;
    font-family: 'secondaryFont';

    &::placeholder {
      font-size: 16px;
      color: $white;
      opacity: 0.5;
    }

  }
  .btn2{
    background-color: $white;
    color: $cardCol;
    font-weight: 600;
  }
}

.rightBox {
  .card {
    border: 1px solid $cardStrokeCol;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    background-color: $cardCol;
  }
  .title{
    color: $white;
  }
  .description{
    font-size: 14px;
    opacity: 0.5;
    color: $white;
  }
  .category{
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: $tagCol;
    color: $white;
    border-radius: 10px;
  }
}

.data {
  display: none;
}

.g-signin2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.resource-link{
  font-size: 16px;
}
.favicon{
  margin: 0px 0px 5px 0px;
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.desc_del {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.res-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row on larger devices */
  gap: 20px;

  @media (max-width: 992px) { /* For medium devices */
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  }

  @media (max-width: 576px) { /* For smaller devices */
    grid-template-columns: 1fr; /* 1 card per row */
  }
}

