.data {
  display: none;
}

.g-signin2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.resource-container {
  overflow: hidden;
  padding: 5px 15px 5px 0px;
  overflow: hidden;
  display: flex;
  width: 46%;

  .resource-item {
    flex: 1 1 calc(33% - 20px);  // Each item takes up 1/3rd of the space
    min-width: 250px;             // Prevents items from being too small
    box-sizing: border-box;      // Ensures padding and borders don't affect the size
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
  }

}
.description{
  font-size: 14px;
  opacity: 0.5;
}

#output {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}

.category{
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: #f0f0f0;
  color: #6c6c6c;
}

.resource-link{
  font-size: 16px;
}
.favicon{
  margin: 0px 20px 0px 0px;
  width: 30px;
  height: 30px;
  margin-top: 25px;
  object-fit: contain;
}