.data {
  display: none;
}

.g-signin2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.resource-container {
  padding: 5px 40px 5px 0px;
  width: 190px;
  overflow: hidden;  // Ensures the content doesn't overflow the container

  .resource-item {
    flex: 1 1 calc(33% - 20px);  // Each item takes up 1/3rd of the space
    min-width: 250px;             // Prevents items from being too small
    box-sizing: border-box;      // Ensures padding and borders don't affect the size
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;

    
  }

}

#output {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}
